<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.socket.dao.UserMapper">
    <select id="findUser" parameterType="String" resultType="User">
        SELECT * from user where username=#{username}
    </select>

    <select id="findMoreUser" resultType="User">
        SELECT *
        from user u
        where user_name in
        <foreach item="more_username" index="index" collection="list"
                 open="(" separator="," close=")">
            #{more_username}
        </foreach>
    </select>
    
    <select id="findUserFromAccount" parameterType="String" resultType="User">
        SELECT * FROM account where username=#{username}
    </select>

    <insert id="insertUserIntoAccount" parameterType="User">
        INSERT INTO account(username, password)
        VALUES(#{username}, #{password})
    </insert>

    <insert id="insertUserIntoFriend" parameterType="int">
        INSERT INTO friend(user_id, friend_id)
        VALUES(#{userId}, #{friendId})
    </insert>

    <select id="findUserFromFriend" parameterType="int" resultType="User">
        SELECT account.id, username, password, nickname FROM account, friend
        where friend.friend_id = account.id
        And user_id = #{userId}
    </select>

</mapper>

