<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.socket.dao.UserMapper">

    <insert id="insertUserIntoAccount" parameterType="User">
        INSERT INTO account(username, password)
        VALUES(#{username}, #{password})
    </insert>

    <select id="findUserFromAccount" parameterType="String" resultType="User">
        SELECT * FROM account where username=#{username}
    </select>

    <select id="findMoreUserFromAccount" resultType="User">
        SELECT *
        from account u
        where user_name in
        <foreach item="more_username" index="index" collection="list"
                 open="(" separator="," close=")">
            #{more_username}
        </foreach>
    </select>

    <insert id="insertUserIntoFriend" parameterType="int">
        INSERT INTO friend(user_id, friend_id)
        VALUES(#{userId}, #{friendId})
    </insert>

    <select id="findUserFromFriend" parameterType="int" resultType="User">
        SELECT account_user_id, username, password, nickname FROM account, friend
        where friend.friend_id = account.user_id
        And friend_user_id = #{userId}
    </select>

    <insert id="insertSaltIntoSalt" parameterType="String">
        INSERT INTO salt(username, salt)
        VALUES (#{username}, #{salt})
    </insert>

    <select id="findSaltFromSalt" parameterType="String" resultType="UserSalt">
        SELECT username, salt FROM salt
        WHERE username = #{username}
    </select>

</mapper>

