<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.am.socket.dao.UserMapper">

    <insert id="insertUserIntoAccount" parameterType="User">
        INSERT INTO account(username, password, email, active_code)
        VALUES(#{username}, #{password}, #{email}, #{activeCode})
    </insert>

    <select id="findUserFromAccount" parameterType="String" resultType="User">
        SELECT * FROM account WHERE username = #{username}
    </select>

    <select id="fineUserIdFromAccount" parameterType="int" resultType="User">
        SELECT * FROM account WHERE user_id = #{userId}
    </select>

    <select id="findEmailFromAccount" parameterType="String" resultType="User">
        SELECT * FROM account WHERE email = #{email}
    </select>

    <select id="findMoreUserFromAccount" resultType="User">
        SELECT *
        FROM account u
        WHERE user_name in
        <foreach item = "more_username" index = "index" collection = "list"
                 open="(" separator="," close=")">
            #{more_username}
        </foreach>
    </select>

    <insert id="insertUserIntoFriend" parameterType="int">
        INSERT INTO friend(user_id, friend_id)
        VALUES(#{userId}, #{friendId})
    </insert>

    <select id="findUserFromFriend" parameterType="int" resultType="User">
        SELECT account.user_id, username, password, nickname FROM account, friend
        WHERE friend.friend_id = account.user_id
        AND friend.user_id = #{userId}
    </select>

    <insert id="insertSaltIntoSalt" parameterType="String">
        INSERT INTO salt(username, salt)
        VALUES (#{username}, #{salt})
    </insert>

    <select id="findSaltFromSalt" parameterType="String" resultType="UserSalt">
        SELECT username, salt FROM salt
        WHERE username = #{username}
    </select>

    <update id="activeAccount" parameterType="int">
        UPDATE account SET activated_state = 1
        WHERE user_id = #{userId}
    </update>

    <insert id="insertCaptchaIntoCaptcha" parameterType="String">
        INSERT INTO captcha(uuid, captcha)
        VALUES (#{uuid}, #{captcha})
    </insert>

    <select id="findCaptchaFromCaptcha" parameterType="String" resultType="Captcha">
        SELECT * FROM captcha
        WHERE uuid = #{uuid}
    </select>

</mapper>

